@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --apple-gray: #f5f5f7;
  --apple-text: #1d1d1f;
  --apple-border: #d2d2d7;
}

body {
  background-color: white;
  color: var(--apple-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar to be invisible/minimal */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}